@charset "utf-8";

/* 
 * Prevent the user from highlighting non-interactive elements, e.g., text. 
 * The user can still click and interact with buttons or links using 
 * this method.
 */

*,
*::before,
*::after {
  user-select: none;
}

/* 
 * This CSS-Rule is added to the titlebar of the layouts to make the app 
 * draggable.
 */

.draggable {
  -webkit-app-region: drag;
}

/* 
 * Since the entire titlebar is made draggable, certain interactive elements
 * must be explicitly set to `no-drag` to allow regular user interaction.
 */

.draggable button,
.draggable input,
.draggable textarea,
.draggable select {
  -webkit-app-region: no-drag;
}
