@charset "utf-8";

@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none !important;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

// Dartboard

#board {
  use,
  circle {
    cursor: pointer;
  }
}
